
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

body{
  min-height: 100vh;
  width: 100%;
  background-image:url("banner.jpg");
  background-size: cover  ;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  width: 85%;
  background-color: rgb(0,0,0,0.5);
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

.content .left-side .details{
  margin: 18px;
  text-align: center;
}
.content .details i{ /*logo* tlf mail w aka ri9*/
  font-size: 30px;
  color: #ffc104;
  margin-bottom: 10px;
}
.content  .details .topic{
  font-size: 20px;
  font-weight: 500;
}
.content  .details .text-one,
{
  font-size: 17px;

  
}
.container .content .right-side{
  width: 75%;
  margin-left: 50px;
}
.content .right-side .topic-text{/*send us message*/
  font-size: 23px;
  font-weight: 600;
  color: #ffc104;
}
.right-side p{
  font-size: 15px;
  font-weight: 600;
  font-family:sans-serif;
  color: white;
  padding-inline: 10px;/*marge tod5el el de5el wala bara */
  line-height: 20px;/*espace entre les lignes*/

}
form{
    justify-content: center;
    padding-top: 20px;
}
.right-side  input{

    position: relative;
    display: inline-block;
    font-size: 20px;
   box-sizing: border-box;

}
input[type="text"]
{
    background: lightgrey;
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0px 25px;
    border-radius: 25px 25px 25px 25px;
}

.right-side input[type="button"]
{
     position: relative;

      border-radius: 25px 25px  25px 25px;
       width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor:pointer;
    background: #ffc107;
    color: white;
}



