body{
    font-family: "Satisfy", cursive;
}
.c1{
    color:coral;
   /* text-decoration: underline;*/
    font-size: 2.5em;
    padding: 10px;
    font-weight: bold;
   
}
.c2{
    color:dimgrey;
    font-size: 1.5em;
    font-weight: bold;
    /*text-decoration: none;*/
    text-decoration: underline;
   margin-left: 25px;
   padding: 30px; /*l'espacement entre les lignes */
   list-style-type: none;

   
}
.c3{
    margin-left: 35px;
    font-size: 1.2em;
    padding: 10px;   /*l'espacement entre les lignes */
   }
.c4{
    padding:20px;
    display: inline-block;
   
    color:black;
    font-size: 1.2em;
}
.partie2{
    display: grid;
      grid-template-columns: 200px  200px; /* Définit 2 colonnes de 100 pixels chacune */
      grid-template-rows:  500px; /* Définit 1 ligne de 500 pixels  */
      grid-gap: 10px;
      grid-column-gap: 500px; /* Espacement horizontal entre les colonnes */
      text-align:center;
      text-decoration-color: brown;
      margin-left :250px; /*por faire avancer l'iùage dans la page */ 
      font-size: large;

    
    }
    img{
   
        height: 200px;
        width:200px;
    }